<div class="row">
<main class="col-10 me-0 border-end border-bottom">
    
    <div class="row d-flex justify-content-evenly">
        <div class="card " style="width: 16rem">
            <div class="galery-box">
                <img src="myApp/img/bijuterii_fantezie-min.jpg" class="galery-img" alt="Bijuterii" />
            </div>
        </div>
        <div class="card pt-2" style="width: 16rem">
            <div class="galery-box">
                <img src="myApp/img/vase_lut-min.jpg" class="galery-img" alt="Vase lut" />
            </div>
        </div>
        <div class="card pt-2" style="width: 16rem">
            <div class="galery-box">
                <img src="myApp/img/handmade_heart-min.jpg" class="galery-img" alt="Cadouri hand made" />
            </div>

        </div>
        <div class="card pt-2" style="width: 16rem">
            <div class="galery-box">
                <img src="myApp/img/D75_8237-min.jpg" class="galery-img" alt="Căciulițe"  />
            </div>


        </div>

    </div>
    <div>
        <p>
            Îți place să creezi obiecte cu mâinile tale? Fie că e vorba de felicitări de sărbători, bijuterii, lumânări,
            săpunuri, ceramică, haine sau obiecte decorative, toate acestea sunt și vor fi mereu la mare căutare.
        </p>
        <p>
            Vânzarea de produse handmade este foarte populară și în România, încă din cele mai vechi timpuri. Așa cum
            meșteșugarii din mediul rural comercializează produse handmade la târguri de profil, tu ai la îndemână
            mediul online să îți promovezi creațiile.
        </p>

    </div>   
</main>
<aside class="col-2">
    <h3>Ce oferim</h3>
    <ul>
        <li>Bijuterii & Accesorii</li>
        <li>Îmbrăcăminte</li>
        <li> Decorațiunii</li>
        <li>Artă & Colecții</li>
        <li> Jucării</li>
    </ul>
</aside>
</div>
