<div class="container">
    <form action="addShippingAddress" method="POST" id="addAddressForm">
        <fieldset class="form-group border border-2 border-black-50 rounded-2  p-3">
            <legend>Te rog completează aceste câmpuri</legend>
            
            <div class="mb-3 row">
                <label for="exampleFormControlInput2" class="col-sm-3 col-form-label">Județ<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="county" class="form-control" id="exampleFormControlInput2"
                        placeholder="Alba" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="form6Example6">Oraș<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="city" class="form-control" id="form6Example6" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="exampleFormControlTextarea2" class="col-sm-3 col-form-label">Adresa<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="address" id="exampleFormControlTextarea2" rows="2"
                        required></textarea>
                </div>
            </div>
            
             <div class="mb-3 row">
                <label for="exampleFormControlInput4" class="col-sm-3 col-form-label">Cod poștal<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="zipCode" class="form-control" id="exampleFormControlInput2"
                        placeholder="Introdu codul poștal" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label for="exampleFormControlInput4" class="col-sm-3 col-form-label">Telefon<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="phone" class="form-control" id="exampleFormControlInput4" required
                        minlength="9" maxlength="10" placeholder="Introdu un număr de telefon valid">
                </div>

            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-2 col-12" id="addShippingAddressBtn">Adaugă
                adresa de livrare</button>
        </fieldset>
    </form>
</div>